# =====================
# Java / Spring Boot
# =====================
target/
*.log

# =====================
# Node / React (Vite)
# =====================
node_modules/
dist/
.vite/

# =====================
# .NET
# =====================
**/bin/
**/obj/

# =====================
# OS / IDE
# =====================
.DS_Store
.idea/
.vscode/
